body{
  overflow-x: hidden;
  

}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}
.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../images/glassimg.jpg');
  background-size: cover;
}
.carousel-image-2 {
  background: url('../images/globe.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../images/image3.jpg');
  background-size: cover;
}
#home-heading{
  position: relative;
  min-height: 200px;
  background: url('../images/image2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color:#fff;
}
.dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(45deg, #137a75 0%, #d1375e 100%);
}
 
.video-dark {
  position: relative;
  min-height: 200px;
  background-image:  linear-gradient(45deg, #768382 40%, #4b9292 50%);
  text-align:center;
  color: #fff;
  background: rgba(0,0,0.3,0.5);
}

#video-play a {
  color: #fff;
}
